@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #100E1D;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #616475;
}

.transition-all-1-ease-in {
    transition: all .1s ease-in;
}

.transition-all-25-ease-in {
    transition: all .25s ease-in;
}
.transition-background-25-ease-in {
    transition: background-color .25s ease-in;
}

::-webkit-scrollbar-track {
    background-color: #100E1D;
}

::-webkit-scrollbar {
	width: 12px;
    background-color: #100E1D;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    background-color: #F5F5F5;
    border-radius: 5px;
}